.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      .side-bar__user-name__top-items__icon
        = link_to "#", class: "icon__body" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "icon__body" do
          = icon('fas', 'cog')
  .side-bar__group_list
    .side-bar__group_list__group-name
      techcamp
    .side-bar__group_list__messages
      まだメッセージはありません。